
.custom-intl-input input {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 10px 14px;
    font-size: 16px;
    outline: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .custom-intl-input input::placeholder {
    color: rgba(0, 0, 0, 0.6); /* Simula theme.palette.text.secondary */
    opacity: 0.8;
  }
  
  .custom-intl-input input:disabled::placeholder {
    opacity: 1;
  }
  
  .custom-intl-input input:disabled {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.38);
  }
  
  .custom-intl-input .selected-flag {
    height: 100%;
    border-right: 1px solid #c4c4c4;
    background-color: transparent;
  }
